.swap--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1A1A1A;
}

.swap--header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
    margin-top: 2rem;
    margin-bottom: 4rem;

    gap: 1rem;
}

#search {
    background-color: #101010;
    border-radius: 8px;
    padding: 14px 16px;

    width: 311px;
    height: 52px;
}

#user {
    margin-left: 1.5rem;
}

#label {
    margin-bottom: 1.5rem;
}

.convert--container {
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.swap--convert {
    display: flex;
    height: 22rem;
    width: 30rem;

    border-radius: 16px;
    background-color: #121212
}

.swap--assets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;

    color: #FFFFFF;

    height: 22rem;
    width: 30rem;
}

.asset--header {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;

    color: #FFFFFF;

    width: 30rem;
}

#header {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.asset--container {
    display: flex;
    flex-direction: column;

    border-radius: 16px;
    background-color: #121212
}

.asset {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

#logo {
    margin-right: 1.5rem;
}

#ticker {
    color: #747474;
}

#selector {
    margin-left: auto;
    background: #2D2D2D;
    border-radius: 8px;
    padding: .75rem 1rem;
}

#chart {
    /* width: 5rem; */
    margin: 1.5rem;
}

.asset--vals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
}

.asset--vals .trend--1d {
    display: flex;
    align-items: center;
    border-radius: 2rem;

    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2EBE7B;
    background: rgba(46, 190, 123, 0.2);

    padding: 6px 12px 7px;
    height: 1.5rem;
    gap: 4px;
}

.asset--vals .trend--1d#down {
    background: rgba(218, 92, 84, 0.2);
    color: #DA5C54;
}

.asset--vals img {
    width: 14px;
}